[Desktop Entry]
Name=Power Manager
Comment=Power Manager
Icon=ac-adapter
Exec=powerkit-settings
Terminal=false
Type=Application
Categories=Settings;
OnlyShowIn=Lumina;Draco
StartupNotify=false
