[Desktop Entry]
Name=Power Dwarf
Comment=Desktop Independent Power Manager
Icon=battery
Exec=powerdwarf
Terminal=false
Type=Application
NotShowIn=GNOME;KDE;LXDE;LXQt;MATE;Razor;ROX;TDE;Unity;XFCE;Cinnamon;
StartupNotify=false
