[Desktop Entry]
Name=Power Manager
Comment=Power Manager
Icon=ac-adapter
Exec=powerkit --config
Terminal=false
Type=Application
Categories=Settings;
OnlyShowIn=Lumina;Draco
StartupNotify=false
