[Desktop Entry]
Name=Power Manager
Comment=Power Manager
Icon=ac-adapter
Exec=powerkit
Terminal=false
Type=Application
OnlyShowIn=Lumina;Draco
StartupNotify=false
