[Desktop Entry]
Name=PowerKit
Comment=Power Manager
Icon=ac-adapter
Exec=powerkit
Terminal=false
Type=Application
NotShowIn=GNOME;KDE;MATE;TDE;Unity;XFCE;Cinnamon;
StartupNotify=false
