[Desktop Entry]
Name=powerdwarf
Comment=Power Manager
Icon=ac-adapter
Exec=powerdwarf
Terminal=false
Type=Application
NotShowIn=GNOME;KDE;MATE;TDE;Unity;XFCE;Cinnamon;
StartupNotify=false
