[Desktop Entry]
Name=PowerDwarf Configuration
Comment=Power Manager Configuration
Icon=battery
Exec=powerdwarf --config
Terminal=false
Type=Application
Categories=Settings;
NotShowIn=GNOME;KDE;LXDE;LXQt;MATE;TDE;Unity;XFCE;Cinnamon;
StartupNotify=false
