[Desktop Entry]
Name=powerdwarf
Comment=Power Manager
Icon=ac-adapter
Exec=powerdwarf --config
Terminal=false
Type=Application
Categories=Settings;
NotShowIn=GNOME;KDE;MATE;TDE;Unity;XFCE;Cinnamon;
StartupNotify=false
