[Desktop Entry]
Name=PowerKit
Comment=Power Manager
Icon=ac-adapter
Exec=powerkit --config
Terminal=false
Type=Application
Categories=Settings;
NotShowIn=GNOME;KDE;MATE;TDE;Unity;XFCE;Cinnamon;
StartupNotify=false
